[data-sku] {
  font-family: UNIQLO PRO;
  a {
    text-decoration: none;
    color: inherit;
  }
  [data-product-name] {
    margin: 0px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
  }
  .coming-soon-msg {
    color: red !important;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
    text-transform: capitalize;
  }
  [data-product-price] {
    margin: 0px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
  }
  [data-product-salePrice] {
    color: red;
    margin: 0px;
  }
  [data-product-salebadge] {
    position: absolute;
    bottom: 15px;
    padding: 2px 5px;
    background-color: white;
    color: red;
    text-transform: uppercase;
    font-size: 12px;
  }  
  .line-through {
    text-decoration: line-through;
    color: grey;
  }
  [data-product-swatches] {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    margin: 5px 0px 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;
    li {
      min-width: 20px;
      min-height: 20px;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      margin-bottom: 5px;
      img {
        width: 100%;
      }
    }
  }
  [data-product-rating]{
    position: relative;
    width: fit-content;
    .no-rating-stars{
      color: #E9EAEA!important;
    }
    .rating-stars{
      position: absolute;
      top: 0;
      left: 0;
      color: #ecbf25!important;
      overflow: hidden;
    }
    [data-product-ratingCount], [data-product-ratingNum]{
      font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    }
  }
}
